.page-header {
  border: 2px solid red;
  height: 400px;
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 1.5em;
  margin: 160px 20px 0 0;
  display: inline-block;
  
  background-color: #d68000;
  /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
}

.page-header div img{
  width: 200px;
}

@media only screen and (max-width: 720px) {
  .page-header {
    display: none;
  }
  
}