.page-header {
  height: 400px;
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 1.5em;
  margin-top: 120px;
  display: inline-block;
  
  background-color: #d68000;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.page-header div img{
  width: 200px;
}