nav {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 10;
  padding: 1em;
  
}
nav section {
  display: flex;
  justify-content: space-between;
  
}

nav div img{
  display: none;
}

nav div h2 {
  display: none;
}

#title {
  font-size: 28pt;
}

#arrow {
  width: 30px;
  /* float: right;
  margin-right: 5em; */
  transform: translate(50%, 0);
  animation: animate 1.5s infinite linear;
  position: fixed;
  top: 60px;
  right: 9rem;
}

@keyframes animate {
  0% {
    transform: translate(50%, 0);
  }
  25% {
    transform: translate(50%, 10%);
  }
  50% {
    transform: translate(50%, 0);
  }
  75% {
    transform: translate(50%, -10%);
  }
}

@media only screen and (max-width: 720px) {
  nav {
    background-color: #d68000;
    height: 360px;
  }
  
  nav div img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  nav div h2 {
    display: block;
    text-align: center;
  }


}