.new-tweet {
  background-color: #f4f1ec;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
}

.new-tweet form {
  padding-top: 60px;
  overflow: hidden;
}

.new-tweet textarea {
  background-color: #f4f1ec;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: solid black;
}

.new-tweet input {
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  background-color: #4056A1;
  float: left;
  border: none;
  border-bottom: black;
}

.counter {
  font-family: "Bungee", sans-serif;
  color: Black;
  float: right;
}

.counter.error {
  color: red
}