

.tweets {
  background-color: #f4f1ec;
  padding-top: 4em;
}

.tweets header {
  /* background-color: #f4f1ec; */

}

.top-of-tweet {
  display: flex;
  justify-content: space-between;
  /* position:'left'; */
}
.tweets article {
  border: 0.1rem solid black;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 4px 4px #888888;
  word-wrap: break-word;
}
.tweets article:hover {
  box-shadow: 10px 10px #888888
}

.tweets .tweet-text {
  background-color: #f4f1ec;
  width: 100%;
  border: none none 20px
}

.days-ago {
  font-size: 0.5em;
  display: flex;
  justify-content: space-between;
}